<!DOCTYPE html>
<html>

<head>
    <title>My Website</title>
</head>

<body>
    <h1>Welcome to My Website</h1>
    <p>This is the index page.</p>
    <h2>Useful links</h2>
    <ul>
        <li><a href="/bootstrap-demo">bootstrap demo</a></li>
        <li><a href="/api/admin/config">Show Flask config</a></li>
        <li><a href="/api/db_tests/db_access">Print some random db query to test connection</a>
        <li><a href="/api/db_tests/universalis_calc">Test universalis calculations</a>
        </li>
    </ul>
</body>

</html>