{% extends "layout.jinja" %}

{% block content %}
<h1>Welcome to My Website</h1>
<p>This is the index page.</p>
<h2>Useful links</h2>
<ul>
    <li><a href="{{ url_for('bootstrap-demo.index') }}">bootstrap demo</a></li>
    <li><a href="{{ url_for('admin.sitemap') }}">Sitemap</a></li>
    <li><a href="{{ url_for('admin.debug_overview') }}">Admin debug_overview</a> </li>
</ul>
{% endblock %}